<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="httpServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="httpServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <httpServer.Properties.Settings>
            <setting name="DefaultFileList" serializeAs="String">
                <value>default.html,default.htm,index.html,index.htm</value>
            </setting>
        </httpServer.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <httpServer.Properties.Settings>
            <setting name="Protocol" serializeAs="String">
                <value>http</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="Root" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="CustomFileList" serializeAs="String">
                <value>custom.html</value>
            </setting>
            <setting name="EnableDirectoryBrowsing" serializeAs="String">
                <value>True</value>
            </setting>
        </httpServer.Properties.Settings>
    </userSettings>
</configuration>